<!DOCTYPE html>
<!-- template added by typing 'html:5(ctrl)e' -->
<!-- sinatra will look in views for a file called layour.erb automatically -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel = "stylesheet" href = "/style.css">
  <title>My Calculator</title>
</head>
<body>
  <nav>
    <ul>
      <li> <a href = "/"> Home </a></li>
      <li> <a href = "/about_us"> About Us </a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
